[submodule "bundle/github-colorscheme"]
	path = bundle/github-colorscheme
	url = git://github.com/grillpanda/github-colorscheme.git
[submodule "bundle/Command-T"]
	path = bundle/Command-T
	url = git://github.com/wincent/Command-T.git
[submodule "bundle/vim-tomorrow-theme"]
	path = bundle/vim-tomorrow-theme
	url = git://github.com/chriskempson/vim-tomorrow-theme.git
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = git://github.com/mileszs/ack.vim.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/scss-syntax.vim"]
	path = bundle/scss-syntax.vim
	url = git://github.com/cakebaker/scss-syntax.vim.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
