[submodule "bundle/github-colorscheme"]
	path = bundle/github-colorscheme
	url = git://github.com/grillpanda/github-colorscheme.git
[submodule "bundle/Command-T"]
	path = bundle/Command-T
	url = git://github.com/wincent/Command-T.git
[submodule "bundle/Vim-Tomorrow-Theme"]
	path = bundle/Vim-Tomorrow-Theme
	url = git://github.com/ChrisKempson/Vim-Tomorrow-Theme.git
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
